body{
    margin: 0px;
}
@media screen and (max-width: 472px){
	section{
		visibility: hidden;
	}
}
/* Body Header */
#body-header{
    height: 64vh;
    opacity: 0.8;
    background-image: url(macbook_mouse.jpg);
    background-position: center;
    background-size:cover
}
/* Horizontal-list */
.Horizontal-list{
    list-style: none;
    padding: 20px;
    margin: 0px;
    
}
.Horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
}
.Horizontal-list li a{
    color: white;
    text-decoration: none;
}
.nav-menu li a{
    transition: color 0.5s, border-bottom 4s;
}
.nav-menu li a:hover{
    color: lightgray;
    border-bottom: 1px solid black;
}

.text-center{
    text-align: center;
}
/* Name and social icon */
#name-social-container{
    margin-top: 20vh;
    /* text-align: center; */
}
#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.social-icons li a i{
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;

}
.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgb(230, 196,196, 0.3);
}
section{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section:nth-child(2n){
    background-color: white;
    height: auto;
}
section:nth-child(2n+1){
    background-color: lightgray;
    height: auto;
}
section:target{
  background-color: cyan;
}
.section-heading{
    width: auto;
    padding: 10px 5px 5px;
    font-weight: 400px;
}
.section-heading span{
    font-size: 30px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}
/* About- section */
#about{
    height: auto;
    width: 100%;
    position: relative;
    display: inline;
}
#my-image{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -12vh;
}
#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 4px lightgray;
}
#about p{
    text-align:justify;
    justify-content: center;
    font-size: 3.7vh;
    padding: 0% 25% 25%;
    padding-bottom: 0px;


}
#skills-container {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .skill-progress {
    width: 20%;
    min-width: 180px;
    height: auto;
    border-radius: 25px;
    background-color: lightgrey;
    margin: 2rem 1rem;
  }
  
  .skill-progress > div {
    border-radius: 25px 0 0 25px;
    box-shadow: 4px 0px 4px 0px grey;
  }
  
  #skill-1, #skill-5 {
    background-color: dodgerblue;
  }
  
  #skill-2 {
    background-color: orangered;
  }
  
  #skill-4 {
    background-color: green;
  }
  
  #skill-3, #skill-6 {
    background-color: palevioletred;
  }
  #skill-7{
    background-color: purple;
  }
  
  .skill-name {
    margin-left: 10px;
    color: white;
    font-size: 1.1rem;
    line-height: 1.8rem;
  }
/* Percentage classes */
.fifty-percent{
    width: 50%;
    height:inherit;
}
.eighty-five-percent{
    width: 85%;
    height: inherit;
}
.sventy-five-percent{
    width: 70%;
    height: inherit;
}
/* Exprience Section */
.exprience{
	height: auto;
	width: 100%;
	position:relative;
  align-content: center;
  padding-right: 10%;
}
.exprience-inner-div{
	height: auto;
	width: 80%;
	left: 9%;
	position: relative;
  padding-right: 17%;

	/*border:2px solid black;*/
}
.exprience-text-div:nth-child(2n){
	position: relative;
	left: 53%;
}

.exprience-text-div{
	height: auto;
	margin:5px;
	left: 5%;
	width: 40%;
	position: relative;
		/*border:2px solid black;*/
}

.exprience-text-seperator{
	height: 80%;
	width: 0px;
	border:2px dashed #807c7c;
	position:absolute;
	top:1%;
	left: 41.2%;
	z-index: 1;

}

.exprience-text-div::after{
	content: '';
	height: 0.7rem;
	width: 0.7rem;
	border-radius: 50%;
	position: absolute;
	background-color: grey;
	top: -3%;
	right: -13%;
	z-index: 2;

}
.exprience-text-div:nth-child(2n)::after{
	content: '';
	height: 0.7rem;
	width: 0.7rem;
	border-radius: 50%;
	position: absolute;
	background-color: grey;
	top: -3%;
	left: -10%;
	z-index: 2;
}
.exprience-heading{
	text-align: right;
	font-family: sans-serif;
	font-weight: bolder;
	text-transform: capitalize;
	display: inline-block;
	width: -webkit-fill-available;
}

.exprience-heading::before{
	content: '';
	background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000030_1550710829_ninjasicon.png);
	display: inline-block;
	background-size: contain;
	height: 60px;
	width: 60px;
	position: absolute;
	left: 0%;
	margin-top: 20px;
/*	position: relative;
	top: 25%;
*/}

.exprience-heading h1{
	color: blue;
	
}
.exprience-heading h3{
	color:red;
	margin-top: -14px;
}
.exprience-heading h6{
	color:grey;
	font-size: 16px;
	margin-top: -14px;
}
.exprience-text-div p{
	text-align: justify;
	color: grey;
	word-spacing: 2px;
	margin-top: -25px;
}
.divider-icon{
	position: sticky;
	transform: rotate(90deg);
	top: 25%;
  color: #1262b3;

}
.divider-icon i{
	font-size: 30px;
}
@media screen and (max-width: 768px){

	.exprience-text-seperator{
		left: -6%;

	}
	.exprience-text-div::after{
		left: -14%;
	}
	.exprience-text-div:nth-child(2n)::after{
		/*left: -94%;*/
		left: -9%;
	}
	.exprience-text-div{
		width: 70vw;
	}
	.exprience-text-div:nth-child(2n){
		left: 0%;
	}
}
/* education section*/

.education{
	height: auto;
	width: 100%;
	position:relative;
  align-content: center;
  padding-right: 10%;
}

.education-inner-div{
	height: auto;
	width: 80%;
	left: 9%;
	position: relative;
  padding-right: 17%;

	/*border:2px solid black;*/
}

.education-text-div:nth-child(2n){
	position: relative;
	left: 53%;
}

.education-text-div{
	height: auto;
	margin:5px;
	left: 5%;
	width: 40%;
	position: relative;
		/*border:2px solid black;*/
}

.education-text-seperator{
	height: 80%;
	width: 0px;
	border:2px dashed #cacaca;
	position:absolute;
	top:1%;
	left: 41.2%;
	z-index: 1;
}

.education-text-div::after{
	content: '';
	height: 0.7rem;
	width: 0.7rem;
	border-radius: 50%;
	position: absolute;
	background-color: grey;
	top: -3%;
	right: -13%;
	z-index: 2;

}
.education-text-div:nth-child(2n)::after{
	content: '';
	height: 0.7rem;
	width: 0.7rem;
	border-radius: 50%;
	position: absolute;
	background-color: grey;
	top: -3%;
	left: -10%;
	z-index: 2;
}
.education-heading{
	text-align: right;
	font-family: sans-serif;
	font-weight: bolder;
	text-transform: capitalize;
	display: inline-block;
	width: -webkit-fill-available;
}

.education-heading::before{
	content: '';
	background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000032_1550746413_iiitd_logo.png);
	display: inline-block;
	background-size: contain;
	height: 66px;
	width: 100px;
	position: absolute;
	left: 0%;
	margin-top: 20px;
/*	position: relative;
	top: 25%;
*/}

.education-heading h1{
	color: blue;
	
}
.education-heading h3{
	color:red;
	margin-top: -14px;
}
.education-heading h6{
	color:grey;
	font-size: 16px;
	margin-top: -14px;
}
.education-text-div p{
	text-align: justify;
	color: grey;
	word-spacing: 2px;
	margin-top: -25px;
}



.education-car{
	position: sticky;
	transform: rotate(90deg);
	top: 25%;
  color: #1262b3;

}
.education-car i{
	font-size: 30px;
}


@media screen and (max-width: 768px){

	.education-text-seperator{
		left: -6%;

	}
	.education-text-div::after{
		left: -14%;
	}
	.education-text-div:nth-child(2n)::after{
		/*left: -94%;*/
		left: -9%;
	}
	.education-text-div{
		width: 70vw;
	}
	.education-text-div:nth-child(2n){
		left: 0%;
	}
}





/* Portfolio */
  .portfolio{
    height: auto;
    position: relative;
  }
  #portfolio-div{
    width: 80%;
    height:83%; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left:100px;
    margin-right: 100px;
    position: relative;
    /*left: -100%;*/
    /*position: absolute;*/
    top:18%;
    /*border:4px solid black;*/
  }
  
  .picture{
    display: flex;
    position: relative;
    /*border:2px solid cyan;*/
  }
  
  @media screen and (max-width: 768px){
    #portfolio-div{
      height: 300vh;
    }
    .picture{
      display: block;
    }
  
  }
  .color div{
    position: relative;
  }
  .color div img{
    height: 250px;
    width: 300px;
  }
  
  
  .color div img:hover{
    background-color: lightgrey;
    filter: blur(1px) brightness(60%);
    box-shadow: 0px 0px 16px cyan;
  }
  .color div:hover p{
    visibility: visible;
    filter: brightness(100%);
  }
  .color div p{
    position :absolute;
    top:20%;
    font-size: 25px;
    color: white;
    visibility: hidden;
  }
  
  /* contact section */
  #contact {
    background-image: linear-gradient(to top right, #2857a4, #403066);
    color: white;
    font-size: 1rem;
  }
  
  #contact .section-heading {
    color: white !important;
  }
  
  #contact .social-links i:hover {
    transform: scale(1.25);
    transition: 0.3s;
    text-shadow: 0px 0px 20px #a59f9f;
  }
  
  .contact-container {
    width: 90%;
    min-width: 725px;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.25em;
  }
  
  .contact-container .contact-form-container, .contact-container .address-container {
    flex-basis: 40%;
    overflow-x: hidden;
    padding: 3rem;
  }
  
  .contact-container .contact-form-container .input-field {
    width: 100%;
    margin-bottom: 2rem;
    padding-left: 1rem;
    border: none;
    height: 2.5rem;
    font-size: 1em;
    color: white;
    border-bottom: 3px solid white;
    background-color: #0000;
  }
  
  .contact-container .contact-form-container textarea.input-field {
    height: 4rem;
    resize: none;
  }
  
  .contact-container .contact-form-container .input-field:focus {
    outline: none;
    border-bottom: 3px solid #bebebe;
  }
  
  .contact-container .contact-form-container .input-field::placeholder {
    color: #bebebe;
  }
  
  .contact-container .contact-form-container #submit {
    display: block;
    margin: 0 auto;
    font-size: 0.75em;
    padding: 0.5rem 1rem;
  }
  
  .contact-container .contact-form-container #submit:hover {
    color: #1262b3;
  }
  
  .contact-container .address-container h2, .contact-container .address-container div {
    margin: 0.8rem 0;
    padding-right: 3rem;
  }
  
  .contact-container .address-container div, .contact-container .address-container p {
    font-size: 0.85em;
  }

